.container__page {
  position: relative;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100vw;
  background-image: asset-url('home_page_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
}
.form-container {
  position: relative;
  top: 10vh;
  height: 70vh;
}


.body-wrapper{
//  min-height: 100vh; /* will cover the 100% of viewport */
 display: block;
 position: relative;
 padding-top: 10vh;
}

.search_form{
  position: absolute;
  left: -20vw;
  width: 40vw !important;
  padding:30px;
}

.home-tagline {
  font-family: raleway;
  font-size: 48px;
  font-weight: bold;
}

.home-sub-tagline {
  font-family: raleway;
 font-size: 28px;
 margin-top: 10px;
}

.btn-div {
  display:flex;
  justify-content: center;
}

.browse-btn {
  width:350px;
  margin-top: 30px;
  padding-bottom: -20px;
  font-size: 22px;
  padding: 15px 15px;
  border-radius:5px;
}
