// Import page-specific CSS files here.
@import "home";
@import "new_car";

h1 {
  font-size: 16px;
  font-family: overpass;
  color: #0d799b;
}

a {
  text-decoration: none;
  color: black;
}

// .container {
//   width:1000px;
// }

// .cards{
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }
