.container__form {
  width: 46vw;
  border-radius: 10px;
  padding: 40px 34px;

}

.btn-primary {
  color: white !important;
  background-color: #1D4D4F !important;
  text-align: center !important;
  margin-bottom: 10px !important;

}

.title-h2 {
  color: white;
  font-size: 50px;

}



