.page-container {
  position: relative;
  height: 80vh;
}

.car-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 7vh;
  width: 100vw;
  height: 50vh;
  color: white;
  text-shadow: 0 0 7px black;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.car-photo {
  display: flex;
  flex-direction: row;
  height: 38vh;
  width: 60vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.photo-holder {
  background-size: cover;
  background-position: center;
  width: 65%;
  height: 100%;
}

.map {
  width:35%;
  height: 100%;
  overflow: hidden;
}

.map img {
  height: 100%;
}

.name-location, #car-name {
  color: black;
  width: 40vw;
}

.name-location {
  position: relative;
  top: 5vh;
  left: 10vh;
  line-height: 20px;
}

.specifications {
  position: relative;
  padding: 1vw;
}
.price-book {
  position: absolute;
  z-index: 1;
  height: 25vh;
  width: 25vw;
  background-color: #6ba8a9;
  top: 46vh;
  right: 10vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.price-book__details {
  display: flex;
  flex-direction: column;
  padding: 6% 0 0 10%;
}

#price {
  color: white;
  font-size: 25px;
}

#dates {
  color: white;
}

#service-fee {
  color: white;
}

#book_car {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 10%;
  color: white;
  font-size: 20px;
  top: 70%;
  background-color: #1d4d4f;
  padding: 10px 0;
}

#book_car a {
  color: white;
}

#book_car:hover {
  cursor: pointer;
}

.overview-container {
  font-size: 20px;
  display: flex;
}

.overview, .reviews {
  display: inline-block;
  width: 150px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.overview:hover, .reviews:hover {
  cursor: pointer;
}

.line {
  display: inline-block;
  width: 100vw;
  border-bottom: 1px solid black;
}

.first-line {
  display: inline-block;
  width: 3vw;
  border-bottom: 1px solid black;
}
#first-line {
  font-size: 50px;
  padding-bottom: 13px;
  color: #6ba8a9;
}

#second-line {
  font-size: 24px;
  color: #1d4d4f;
}

.active {
  border-bottom: none;
}
.hidden {
  display: none;
}
.overview-text, .reviews-container {
  position: absolute;
  top: 50px;
}
