<div class="card-car">
  <img src="https://i.blogs.es/51f79e/ferrari-f40-tribute-2019-recreacion-201851849_2/1366_2000.jpg" />
  <div class="card-car-infos">
    <div>
      <h2>Ferrari F40</h2>
      <p>Barcelona</p>
    </div>
    <h2 class="card-car-pricing">$50/day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-car-user avatar-bordered" />
  </div>
</div>
