<link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<footer class="footer">
  <h4><span id="logo-footer">Rent-Y-Car</span> makes renting your car easy</h4>
  <h6>Created with ❤️ at Le Wagon Barcelona by the MEDG Team</h6>
</footer>
