<div class="container__page">
  <div class="shadow"></div>
  <div class="form-container">
  <div class="search_form">
    <h1>Rent, enjoy, win...</h1><br>
    <h6>Search available cars</h6>
      <form action="/cars">
        <div class="form-group">
          <input type="text" class="form-control" name="query" placeholder="City where you want to rent" onclick="if(submitForm())==true{performAction('save');}">
        </div>
      </form>
  </div>

  </div>

</div>
