<div class="container__page">
  <div class="shadow"></div>
  <div class="form-container">
  <div class="search_form">
    <h3 id="home-search__h3">Search available cars</h3>
      <form action="/cars">
        <div class="form-group">
          <input type="text" class="form-control" name="query" placeholder="City where you want to rent" onclick="if(submitForm())==true{performAction('save');}">
        </div>
      </form>
  </div>

  </div>

</div>
