<div class="container__page">
  <div class="shadow"></div>
  <div class="form-container">
  <div class="search_form">
    <h3 class="home-tagline">Cars to rent. Any city.</h3>
    <h3 class="home-tagline">Nice and easy.</h3>
    <h2 class="home-sub-tagline">Find the perfect car, just where you need it.</h2>
      <form action="/cars">
        <div class="btn-div">
          <button class="btn-primary browse-btn">Browse all cars</button>
        </div>
      </form>
  </div>

  </div>

</div>
