.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 82.5vh;
  width: 100vw;
  height: 10vh;
  background-color: #0D799B;
  color: white;
  text-align: center;
  justify-content: center;
  z-index: 2;
}