.form-page__container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.container__form {
  background-color: #6BA8A9;
  width: 30vw;
  margin: 12vh auto;
  color: white;
  padding: 12px 24px;

  .text-muted {
    color: white !important;
  }
}

.btn-form {
  color: white !important;
  background-color: #0A799B !important;
  text-align: center !important;
  margin-bottom: 10px !important;;
}

// not working yet
// .container.a {
//   color: white !important;
//   text-decoration: none !important;
// }

// .container.form-text {
//   color: white !important;
// }




