body{
  font-family: 'Barlow Condensed', sans-serif;
}

.navbar-lewagon {
  display: flex !important;
  justify-content: space-between !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: fixed !important;
  width: 100%;
  z-index: 2;
  background: #0D799B;
  display:flex;
  justify-content: space-between;
}

.navbar-nav {
  
}

.navbar-brand {
  font-family: 'Righteous', cursive;
  color: white !important;
  font-size: 38px !important;
}

.nav-link{
  padding: 4px 10px;
  margin: 10px;
  border-radius: 10px;
  color: white !important;
  font-family: 'Overpass', sans-serif;
}

.nav-link:hover{
  background: #13a6d3;
  transition: 1.5s;
}

.top-left {
  display: flex;
  align-items:center;
  width: 40% !important;
}

.navbar-width {
  width: 40%;
}
.searchbar{
  border-radius:20px !important;
  max-width: 150px;
}
