body{
  font-family: 'Barlow Condensed', sans-serif;
}

.navbar-lewagon {
  display: flex !important;
  justify-content: space-between !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  z-index: 2;
  background: #0D799B;
  display:flex;
  justify-content: space-between;
}

.navbar-brand {
  color: white !important;
  font-size: 32px !important;
}

.nav-link{
  padding: 4px 10px;
  margin: 10px;
  border-radius: 10px;
  color: white !important;
  font-family: 'Overpass', sans-serif;
}

.nav-link:hover{
  background: #13a6d3;
  transition: 1.5s;
}

.top-left {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 0 200px 0 0;
}

.searchbar{
  border-radius:20px !important;
  width: 200px;
}
