<h1>Cars to rent in Barcelona</h1>
<h1>Cars to rent in Barcelona</h1>
<h1>Cars to rent in Barcelona</h1>

<h1>Cars to rent in Barcelona</h1>


<div class="cards">
  <% @cars.each do |car| %>
  <%= render 'shared/card' %>
  <% end %>
</div>
