<div class="container">

    <h1 class="title">Cars to rent in Barcelona</h1>

    <div class="cards row">
      <% @cars.each do |car| %>
        <%= render 'shared/card', car: car %>
      <% end %>
    </div>

</div>
