<div class="container">
  <% if params[:query].present? %>
    <h1 class="title">Cars to rent in <%= params[:query].capitalize %></h1>
  <% else %>
    <h1 class="title">Cars to rent in our site</h1>
  <% end %>
  <div class="cards row">
    <% @cars.each do |car| %>
      <%= render 'shared/card', car: car %>
    <% end %>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
